*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

:root{
    --color-primary: green;
    --color-secondary: greenyellow;
    --color-white: white;
    --color-grey: grey;
    --color-grey2: rgba(144, 144, 144, 0.429);
    --color-grey3: rgb(200, 200, 200);
    --box-shadow: 0 3px 15px rgba(0, 0, 0, 0.4);
    --box-color: rgb(2, 1, 40);
    --color-greyopa: rgba(128, 128, 128, 0.3);
    --bright: brightness(20%);
    --white:white;
}
header{
    height: 425vh;
    color: var(--color-white);
    overflow: hidden;
}
body{
    font-family: 'Roboto Condensed', sans-serif;
    background-image: linear-gradient(45deg, rgba(58, 225, 88,0.2) 0%, rgba(58, 225, 88,0.2) 16.667%,rgba(246, 247, 80,0.2) 16.667%, rgba(246, 247, 80,0.2) 33.334%,rgba(96, 229, 86,0.2) 33.334%, rgba(96, 229, 86,0.2) 50.001%,rgba(171, 238, 83,0.2) 50.001%, rgba(171, 238, 83,0.2) 66.668%,rgba(208, 243, 82,0.2) 66.668%, rgba(208, 243, 82,0.2) 83.335%,rgba(133, 234, 85,0.2) 83.335%, rgba(133, 234, 85,0.2) 100.002%),linear-gradient(22.5deg, rgba(58, 225, 88,0.2) 0%, rgba(58, 225, 88,0.2) 16.667%,rgba(246, 247, 80,0.2) 16.667%, rgba(246, 247, 80,0.2) 33.334%,rgba(96, 229, 86,0.2) 33.334%, rgba(96, 229, 86,0.2) 50.001%,rgba(171, 238, 83,0.2) 50.001%, rgba(171, 238, 83,0.2) 66.668%,rgba(208, 243, 82,0.2) 66.668%, rgba(208, 243, 82,0.2) 83.335%,rgba(133, 234, 85,0.2) 83.335%, rgba(133, 234, 85,0.2) 100.002%),linear-gradient(0deg, rgba(58, 225, 88,0.2) 0%, rgba(58, 225, 88,0.2) 16.667%,rgba(246, 247, 80,0.2) 16.667%, rgba(246, 247, 80,0.2) 33.334%,rgba(96, 229, 86,0.2) 33.334%, rgba(96, 229, 86,0.2) 50.001%,rgba(171, 238, 83,0.2) 50.001%, rgba(171, 238, 83,0.2) 66.668%,rgba(208, 243, 82,0.2) 66.668%, rgba(208, 243, 82,0.2) 83.335%,rgba(133, 234, 85,0.2) 83.335%, rgba(133, 234, 85,0.2) 100.002%),linear-gradient(90deg, rgb(166, 166, 166),rgb(87, 87, 87));
    font-size: 1.1rem;
    color: var(--color-white);
    transition: all .5s ease-in-out;
}
.upper-content{
    background-color: var(--color-primary);
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
}
.upper-content .left-upper{
    align-items: center;
    display: flex;
    max-width: 100%;
    max-height: 100%;
}
.upper-content .left-upper img{
    width: 20rem;
    margin-left: 1rem;
    cursor: pointer;
    padding: 0 0.2rem;
}
.upper-content .right-upper{
    align-items: center;
    display: flex;
    max-width: 100%;
    max-height: 100%;
    column-gap: 1.5rem;
    margin-right: 3rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--color-white);
    cursor: pointer;
}
.main-contents{
    height: 90vh;
    padding: 0;
    display: grid;
    align-content: center;
    justify-content: center;
}
.main-contents .background{
    position: relative;
    place-items: center;
    display: grid;
    height: 90vh;
    width: 100vw;
}
.main-contents .background::before{
    background-image: url('./image/MainContent/background.png');
    background-size: cover;
    filter: var(--bright);
    transition: all .5s ease-in-out;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.main-contents .background .logo{
    position: relative;
    display: flex;
    width: 60%;
    height: 20rem;
    max-width: 90rem;
    max-height: 20rem;
    top: -5rem;
}
.main-contents .background .logo:hover .background::before{
    filter: brightness(100%);
}

/* about */
.about-info{
    height: 100vh;
}
.about-info .main-title{
    text-align: center;
    margin-top: 4rem;
    color: var(--color-primary);
}
.about-info .main-title h1{
    position: relative;
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 700;
    color: black;
}
.about-info .main-title .title-line{
    position: relative;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 600;
    color: black;
    display: block;
}
.title-line::before,
.title-line::after{
    content: "";
    display: inline-block;
    border-top: 1px solid #000;
    width: 3rem;
    vertical-align: middle;
    margin: 0 0.5em;
}

.about-con{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 3.5rem;
    padding-top: 5rem;
}
.about-con .left-about{
    color: var(--color-primary);
    margin-left: 1.5rem;
    margin-right: 2rem;
}
.about-con .big-title{
    font-size: 2.5rem;
    font-weight: 600;
}
.about-con .small-title{
    font-size: 2rem;
    margin-top: 1.5rem;
    font-weight: 500;
    text-align: justify;
}

.right-about{
    margin-top: -10vh;
}
.sectionslide{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider{
    width: 800px;
    height: 500px;
    border-radius: 10px;
    border: 5px solid var(--color-primary);
    overflow: hidden;
}
.slide{
    width: 500%;
    height: 500px;
    display: flex;
}
.slide input{
    display: none;
}
.st{
    width: 20%;
    transition: 2s;
}
.st img{
    width: 800px;
    height: 500px;
    filter: grayscale(80%);
    transition: .5s ease-in-out;
}
.st img:hover{
    filter: grayscale(0);
}
.nav-m{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    justify-content: center;
    display: flex;
}
.m-btn{
    border: 2px solid var(--color-primary);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.m-btn:not(:last-child){
    margin-right: 30px;
}
.m-btn:hover{
    background-color: var(--color-primary);
}
#radio1:checked ~.first{
    margin-left: 0;
}
#radio2:checked ~.first{
    margin-left: -20%;
}
#radio3:checked ~.first{
    margin-left: -40%;
}
#radio4:checked ~.first{
    margin-left: -60%;
}
.nav-auto{
    position: absolute;
    width: 800px;
    margin-top: 460px;
    display: flex;
    justify-content: center;
}
.nav-auto div{
    border: 2px solid var(--color-primary);
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}
.nav-auto div:not(:last-child){
    margin-right: 30px;
    justify-content: center;
}
#radio1:checked ~ .nav-auto .a-b1{
    background-color: var(--color-primary);
}
#radio2:checked ~ .nav-auto .a-b2{
    background-color: var(--color-primary);
}
#radio3:checked ~ .nav-auto .a-b3{
    background-color: var(--color-primary);
}
#radio4:checked ~ .nav-auto .a-b4{
    background-color: var(--color-primary);
}

/* academic */
.academic{
    height: 80vh;
}
.academic .main-title{
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
    color: var(--color-primary);
}
.academic .main-title h1{
    position: relative;
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 700;
    color: black;
}
.academic .main-title .title-line{
    position: relative;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 600;
    color: black;
    display: block;
}
.title-line::before,
.title-line::after{
    content: "";
    display: inline-block;
    border-top: 1px solid #000;
    width: 3rem;
    vertical-align: middle;
    margin: 0 0.5em;
}

.row{
    display: grid;
    grid-template-columns: repeat(5, 17vw);  
}
.hoveranimation{
    width: 15vw;
    height: 40vh;
    margin-left: 8vw;
    display: inline-block;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    border: 1px solid var(--color-primary);
    position: relative;
    overflow: hidden;
}
.one{background-image: url(./image/Academics/buDoty.png);}
.two{background-image: url(./image/Academics/pakZul.png);}
.three{background-image: url(./image/Academics/buDyah.png);}
.four{background-image: url(./image/Academics/buLizda.png);}
.five{background-image: url(./image/Academics/pakRuri.png);}

.hoveranimation:before,
.hoveranimation:after{
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    content: '';
    position: absolute;
    background: inherit;
    transition: .5s;
}
.hoveranimation:after{
    padding: 3.25vw;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--color-white);
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
    background: var(--color-primary);
    transform: translateY(100%);
    content: attr(data-text);
}
.hoveranimation:hover:before{
    transform: translateY(-50%);
}
.hoveranimation:hover:after{
    transform: translateY(0);
}

.academic .staff-name{
    display: grid;
    grid-template-columns: repeat(5, 17vw);
    margin-left: 7vw;
}
.academic .staff-name .labtitle{
    font-weight: 500;
    text-align: center;
}
.academic .staff-name .labtitle .position{
    font-weight: 600;
    font-size: 2rem;
    color: var(--color-primary);
}

/* Honeycomb */
.works{
    height: 95vh;
}
.works .main-title{
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
    color: var(--color-primary);
}
.works .main-title h1{
    position: relative;
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 700;
    color: black;
}
.works .main-title .title-line{
    position: relative;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 600;
    color: black;
    display: block;
}
.title-line::before,
.title-line::after{
    content: "";
    display: inline-block;
    border-top: 1px solid #000;
    width: 3rem;
    vertical-align: middle;
    margin: 0 0.5em;
}
.honeycomb{
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    transform: translateY(80px);
}
.honeycomb-cell{
    -webkit-box-flex: 0;
    flex: 0 1 250px;
    max-width: 250px;
    height: 137.5px;
    margin: 65.4px 12.5px 25px;
    position: relative;
    padding: 0.5em;
    text-align: center;
    z-index: 1;
    box-shadow: 0px 0px 15px var(--color-primary);
    cursor: pointer;
}
.honeycomb-cell_img{
    object-fit: cover;
    object-position: center;
    filter: grayscale(100%);
}
.honeycomb-cell_title{
    height: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-hyphens: auto;
    hyphens: auto;
    word-break: break-word;
    text-transform: uppercase;
    color: var(--color-secondary);
    font-weight: 700;
    font-size: 1.75em;
    transition: opacity 350ms;
}
.honeycomb-cell_title > small{
    font-weight: 300;
    margin-top: 0.25em;
}
.honeycomb-cell::before,
.honeycomb-cell::after{
    content: '';
}
.honeycomb-cell::before,
.honeycomb-cell::after,
.honeycomb-cell_img{
    top: -50%;
    left: 0;
    width: 100%;
    height: 200%;
    display: block;
    position: absolute;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    z-index: -1;
}
.honeycomb-cell::before{
    background: var(--color-white);
    transform: scale(1.055);
}
.honeycomb-cell::after{
    background: black;
    opacity: 0.7;
    transition: opacity 350ms;
    -webkit-transition: opacity 350ms;
}
.honeycomb-cell:hover .honeycomb-cell_title{
    color: var(--color-primary);
}
.honeycomb-cell:hover .honeycomb-cell_img{
    filter: grayscale(0);
}
.honeycomb-cell:hover::before{
    background: var(--color-primary);
}
.honeycomb-cell:hover::after{
    opacity: 0;
}
.honeycomb_Hidden{
    display: none;
    opacity: 0;
    width: 250px;
    margin: 0 12.5px;
}

/* Bottom */
.bottom-content{
    height: 30vh;
    background-color: var(--color-primary);
    display: grid;
    grid-template-columns: repeat(2, 10fr);
    align-items: center;
}
.bottom-content .left-bottom{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}
.bottom-content .left-bottom img{
    height: 200px;
    width: 200px;
    background-color: var(--color-white);
    border-radius: 50%;
    margin-left: 5rem;
}
.bottom-content .left-bottom .bottom-text{
    margin-left: -10rem;
}
.bottom-content .left-bottom .bottom-text .bigbtm-text{
    font-size: 1.5rem;
    font-weight: 600;
}
.bottom-content .left-bottom .bottom-text .smallbtm-text{
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 1rem;
}
.bottom-content .right-bottom{

}
.bottom-content .right-bottom .follows{
    font-size: 1.5rem;
    font-weight: 600;
}
.bottom-content .right-bottom .logomedia{
    font-size: 1rem;
    font-weight: 500;
    margin-top: 1rem;
}
